<div class="container-lg">
    <div class="card">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Bar Chart</a>
                  <a class="nav-link" href="#">Line Chart</a>
                  <a class="nav-link" href="#">Pie Chart</a>
                </div>
              </div>
            </div>
          </nav>

    </div>
    
</div>
<!-- <app-progress-bar></app-progress-bar> -->
<!-- <app-chart-table></app-chart-table> -->