<div class="container-lg">
    <div class="mt-5 mb-5" >
        <ul class="nav nav-pills" style="display: flex; justify-content: space-evenly;">
            <li class="nav-item">
              <a routerLink="/progress-bar" class="nav-link" aria-current="page" routerLinkActive="active">Progress Bar</a>
            </li>
            <li class="nav-item">
              <a routerLink="/column-chart" class="nav-link" routerLinkActive="active">Column Chart</a>
            </li>
            <li class="nav-item">
              <a routerLink="/line-chart" class="nav-link" routerLinkActive="active">Line Chart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Pore Korbo</a>
            </li>
          </ul>
    </div>
</div>

<router-outlet></router-outlet>
<!-- <app-progress-bar></app-progress-bar> -->
<!-- <app-chart-table></app-chart-table> -->